<div class="backdrop" (click)="cerrarMenu()" *ngIf="isOpen"></div>

<div class="side-menu" *ngIf="isOpen" (click)="$event.stopPropagation()">
  <div class="menu-header">
    <div class="logo-container">
       <a href="/inicio">
        <img src="assets/img/berhlan.png" alt="Concreservicios" style="width:120px; height: auto; margin-top: -20px;">
      </a>
    </div>
    <button class="close-btn" (click)="cerrarMenu()">×</button>
  </div>

  <div class="menu-items">
   <button class="menu-item" (click)="navegarACubicaje()">
  <i class="fa-solid fa-building"></i> Cubicaje
</button>

  </div>

</div>