<div class="tab-panels">
  <section id="marzen" class="tab-panel">
    <button class="btn btn-primary mb-3" (click)="abrirModal()">Crear Cubicaje</button>

    <!-- Contenedor del Modal -->
    <div class="modal" [class.show]="showModal" *ngIf="showModal">
      <div class="modal-dialog">
        <app-registro-producto (closed)="cerrarModal()"></app-registro-producto>
      </div>
    </div>
    <app-table [tableName]="'ItemsCubicaje'">
  <thead class="ItemsCubicajeTitleCol table-dark">
    <tr>
      <th>Item</th>
      <th>Desc. Item</th>
      <th>UM</th>
      <th>Und/Caja</th>
      <th>Kg/Und</th>
      <th>PESO CAJA</th>
      <th>Lt/Und</th>
      <th>Item Corrugado</th>
      <th>Desc. Item Corrugado</th>
      <th>Largo (cm)</th>
      <th>Ancho (cm)</th>
      <th>Alto (cm)</th>
      <th>Cajas x Tendido</th>
      <th>Tendidos permisibles</th>
    </tr>
  </thead>

  <tbody>
   
  </tbody>
</app-table>
  </section>
</div>
